body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.logocont {
    margin-top: 8%;
}

.logo {
    width: 272px;
    height: 92px;
    margin: 0 auto;
    display: block;
}

.form {
    margin: 2% auto;
}

.input {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 13px;
    width: 42%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

input[type=text] {
    border: 0px;
    flex: auto;
}

input[type=text]:focus {
    outline: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.right {
    justify-content: flex-end;
}

.navbar a {
    color: black;
    text-decoration: none;
    opacity: 0.75;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .left a {
    padding-left: 15px;
}

.navbar .right a {
    padding-right: 15px;
}

.navbar button {
    margin-right: 15px;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    padding: 0 12px;
    height: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(34, 34, 34);
    background: #f2f2f2;
    height: 6%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.footerdiv {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.footerdiv a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    opacity: 0.75;
    font-size: 14px;
}

.footerdiv a:hover {
    text-decoration: underline;
}

.footerdiv .left a {
    padding-left: 27px;
}

.footerdiv .right a {
    padding-right: 27px;
}

.buttons {
    margin: 3% auto;
    display: flex;
    justify-content: center;
}

.btndiv {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: auto;
}

.btndiv button {
    background: #f2f2f2;
    color: rgb(34, 34, 34);
    opacity: 0.75;
    border: 1px solid #f2f2f2;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}

.btndiv button:hover {
    color: black;
    border: 1px solid rgba(0,0,0,0.2);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}